<%= form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %>
    <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :charity %>
        <%= f.file_field :charity, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :mercy_team %> -- Mercy Teams are based on Time Zones - choose your Time Zone below!
        <%= f.select :mercy_team, ['Hawaiian', 'Alaskan', 'Pacific', 'Mountain', 'Central', 'Eastern', 'Atlantic'], {},class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :contact_email %>
        <%= f.text_field :contact_email, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.submit "Update Profile", class: 'btn btn-primary' %>
    </div>
<% end %>