<div class="row">
    <div class="col-md-8 col-md-offset-2">
            <div class="text-center non-well">
                <h1>Total Mercy Community</h1>
                <p>Welcome!  Users must fill out a profile in order to be visible to the community.</p>
            </div>
        <ul class="list-unstyled">
            <% @users.each do |user| %>
                <% if user.profile %>
                    <li>
                        <div class="well row <%= cycle('white-bg','ltblue-bg') %>">
                            <div class="col-sm-4 text-center">
                                <% if user.profile.charity %>
                                    <%= link_to user do %>
                                        <%= image_tag user.profile.charity.url(:thumb), class: 'user-index-charity' %>
                                    <% end %>
                                <% end %>
                            </div>
                            <div>
                                <%= link_to user do %>
                                    <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
                                    <p><%= user.profile.mercy_team %> Time Zone
                                        <% if user.plan_id == 1 %>
                                            <span class="label label-primary">Basic Member</span>
                                        <% else %>
                                            <span class="label label-success">Supporting Member</span>
                                        <% end %>
                                    </p>
                                <% end %>
                            </div>
                        </div>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>