<div class="row">
    <div class="col-md-3 text-center">
        <%= image_tag @user.profile.charity.url, class: "user-show-charity" %>
    </div>
    <div class="col-md-6">
        <h1 class="non-well"><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
        <h3 class="non-well"><span class="mercy_team_icon"><%= mercy_team_icon %></span> <%= @user.profile.mercy_team %></h3>
        <div class="well profile-block profile-description">
            <h3>About Me</h3>
            <%= @user.profile.description %>
        </div>
        
        <% if true#current_user.plan_id > 1 %>
            <div class="well profile-block contact-info">
                <h3>Contact Info</h3>
                <%= @user.profile.contact_email %><br/>
            </div>
        <% end %>
    </div>  
</div>
